# Connecting structures together

This example shows how to connect neurons in different structures together and is useful when you do not have the long range axons available. It can also be used within a volume, but note that this will then be in addition to what synapses touch detection provides (so useful when no axon is available).

* Define two volumes, ```VolumeA``` and ```VolumeB``` (far apart).
* Fill the volumes with ```dSPN``` and ```iSPN``` neurons respectively.
* Define the connection rule between the two neuron types.
* Create connections

In [1]:
import os
from snudda.create_cube_mesh import create_cube_mesh

network_path = os.path.join("networks", "connect_structures_netework")
mesh_file_a = os.path.join(network_path, "mesh", "volume_A.obj")
mesh_file_b = os.path.join(network_path, "mesh", "volume_B.obj")

create_cube_mesh(mesh_file_a, [5e-3,0,0], 300e-6, "Volume A - connect structures example")
create_cube_mesh(mesh_file_b, [-5e-3,0,0], 300e-6, "Volume B - connect structures example")

In [ ]:
from snudda.init import SnuddaInit

cnc = SnuddaInit(network_path=network_path, random_seed=123)

cnc.define_structure(struct_name="VolumeA", struct_mesh=mesh_file_a, d_min=15e-6, mesh_bin_width=50e-6)
cnc.define_structure(struct_name="VolumeB", struct_mesh=mesh_file_b, d_min=15e-6, mesh_bin_width=50e-6)

cnc.add_neurons(name="dSPN", num_neurons=20, volume_id="VolumeA",
                neuron_dir=os.path.join("$DATA","neurons","striatum","dspn"))
cnc.add_neurons(name="iSPN", num_neurons=20, volume_id="VolumeB",
                neuron_dir=os.path.join("$DATA","neurons","striatum","ispn"))

# Normally we would use add_neuron_target to connect the neurons in the same volume together, 
# but this time we want to use connect_neurons instead.

proj_file = os.path.join("data", "ExampleProjection.json")

cnc.connect_neurons(neuron_name="dSPN", 
                    target_name="iSPN",
                    projection_name="ExampleProjection",
                    projection_file=proj_file,
                    source_volume="VolumeA",
                    dest_volume="VolumeB",
                    projection_radius=100e-6,
                    number_of_targets=[10, 5],
                    number_of_synapses=[10, 5],
                    dendrite_synapse_density="1",
                    connection_type="GABA",
                    dist_pruning=None,
                    f1=1,
                    soft_max=None,
                    mu2=None,
                    a3=None)


cnc.write_json()

In [ ]:
from snudda.place import SnuddaPlace
sp = SnuddaPlace(network_path=network_path, verbose=False)
sp.parse_config()
sp.write_data()

In [ ]:
from snudda.plotting.plot_network import PlotNetwork
network_file = os.path.join(network_path, "network-neuron-positions.hdf5")
pn = PlotNetwork(network_file)
pn.plot(plot_axon=False, plot_dendrite=False, plot_synapses=False)
pn.close()

In [ ]:
# TODO: Update logic so that if there are no connections allowed between the neurons present in a hyper voxel, then it goes faster

In [ ]:
from snudda.detect import SnuddaDetect

sd = SnuddaDetect(network_path=network_path)
sd.detect()

In [2]:
from snudda.connect import SnuddaConnect

sc = SnuddaConnect(network_path=network_path)
sc.connect()
sc.write()

pre dSPN, post iSPN

In [3]:
from snudda.prune import SnuddaPrune

sp = SnuddaPrune(network_path=network_path)
sp.prune()

next_row_set=(array([[    23,      1,      0,      0,      0,     -1,     10,      0,
             0,      3,     39,   1000,  13542],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     12,     43,   1000, 317382],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     15,    952,   1000, 717033],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     19,    748,   1000, 934347],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     20,     48,   1000, 257073],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     20,    865,   1000, 898500],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     30,    107,   1000, 359928],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     30,    140,   1000, 115934],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     30,    618,   1000, 872539],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     34,     65,   1000, 125503],
       [    23,      1,      0,      0,      0,     -1,     10,      0,
             0,     34,    463,   1000, 242931]], dtype=int32), 703)
next_row_set=(array([[    24,      1,      0,      0,      0,     -1,     10,      0,
             0,      5,    230,   1000, 596126],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,      5,    347,   1000, 643830],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,      5,    798,   1000, 102987],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,      6,    827,   1000, 599491],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,      9,     18,   1000, 207028],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     12,      7,   1000, 720486],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     12,     82,   1000, 443522],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     12,    681,   1000, 299479],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     12,    797,   1000, 520228],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     15,    127,   1000, 764788],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     18,    342,   1000, 635813],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     20,    979,   1000,  34089],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     21,    326,   1000, 455056],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     21,    594,   1000,  93105],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     24,    237,   1000, 418367],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     24,    337,   1000, 952067],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     29,    343,   1000, 287494],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     31,    133,   1000, 859849],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     37,    509,   1000, 948392],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     38,     38,   1000, 511256],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     38,     59,   1000, 106589],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     40,    132,   1000, 740313],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     44,    855,   1000,  61955],
       [    24,      1,      0,      0,      0,     -1,     10,      0,
             0,     44,    988,   1000, 882307]], dtype=int32), 714)
next_row_set=(array([[    22,      2,      0,      0,      0,     -1,     10,      0,
             0,      4,    209,   1000, 506590],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,      5,    205,   1000, 353702],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,      5,    663,   1000, 974466],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,      6,    132,   1000, 712361],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,      8,    540,   1000, 540074],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     12,    938,   1000, 286671],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     13,    656,   1000,  84732],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     17,    450,   1000, 227718],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     21,    875,   1000, 746097],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     21,    934,   1000, 360687],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     24,    547,   1000, 417836],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     24,    895,   1000, 349133],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     31,      2,   1000, 712824],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     31,    121,   1000, 979888],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     34,    279,   1000, 167365],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     40,    231,   1000, 885818],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     44,    719,   1000, 322776],
       [    22,      2,      0,      0,      0,     -1,     10,      0,
             0,     46,    599,   1000,  63555]], dtype=int32), 1132)
next_row_set=(array([[    29,      2,      0,      0,      0,     -1,     10,      0,
             0,      5,    924,   1000, 746368],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     12,    475,   1000, 758212],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     12,    781,   1000, 766627],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     12,    912,   1000, 301346],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     15,    222,   1000, 294907],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     16,    966,   1000, 963315],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     17,    958,   1000, 361480],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     19,    362,   1000, 450843],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     21,    367,   1000, 620762],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     30,    405,   1000, 770549],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     30,    776,   1000, 500980],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     44,    683,   1000, 931675],
       [    29,      2,      0,      0,      0,     -1,     10,      0,
             0,     46,    848,   1000, 198191]], dtype=int32), 1209)
next_row_set=(array([[    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     10,    579,   1000, 408225],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     10,    793,   1000, 905023],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     13,    233,   1000, 314148],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     18,    330,   1000, 951010],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     31,    681,   1000, 510515],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     31,    696,   1000, 353444],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     53,    561,   1000, 872944],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     53,    604,   1000, 875210],
       [    21,      3,      0,      0,      0,     -1,     10,      0,
             0,     55,    849,   1000, 713241]], dtype=int32), 1561)
next_row_set=(array([[    25,      3,      0,      0,      0,     -1,     10,      0,
             0,      4,    717,   1000, 252415],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     12,    466,   1000, 585880],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     20,    907,   1000,   3283],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     35,    976,   1000, 732463],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     37,     81,   1000, 826481],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     42,    791,   1000, 452943],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     45,    152,   1000, 709117],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     50,    530,   1000, 776147],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     53,    690,   1000, 731092],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     57,    168,   1000,  62758],
       [    25,      3,      0,      0,      0,     -1,     10,      0,
             0,     59,    706,   1000, 803288]], dtype=int32), 1605)
next_row_set=(array([[    26,      3,      0,      0,      0,     -1,     10,      0,
             0,      9,    472,   1000,  60900],
       [    26,      3,      0,      0,      0,     -1,     10,      0,
             0,     10,    518,   1000, 845388],
       [    26,      3,      0,      0,      0,     -1,     10,      0,
             0,     20,    949,   1000, 386185],
       [    26,      3,      0,      0,      0,     -1,     10,      0,
             0,     22,    307,   1000, 229556],
       [    26,      3,      0,      0,      0,     -1,     10,      0,
             0,     31,    236,   1000, 212864],
       [    26,      3,      0,      0,      0,     -1,     10,      0,
             0,     62,    996,   1000, 446694]], dtype=int32), 1616)
next_row_set=(array([[    31,      3,      0,      0,      0,     -1,     10,      0,
             0,      4,    141,   1000, 854602],
       [    31,      3,      0,      0,      0,     -1,     10,      0,
             0,      4,    354,   1000, 749174],
       [    31,      3,      0,      0,      0,     -1,     10,      0,
             0,     31,    379,   1000, 841966],
       [    31,      3,      0,      0,      0,     -1,     10,      0,
             0,     50,    673,   1000, 537020],
       [    31,      3,      0,      0,      0,     -1,     10,      0,
             0,     61,    553,   1000, 211211],
       [    31,      3,      0,      0,      0,     -1,     10,      0,
             0,     62,    610,   1000, 215620]], dtype=int32), 1671)
next_row_set=(array([[    21,      4,      0,      0,      0,     -1,     10,      0,
             0,      5,     59,   1000, 331749],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     13,    800,   1000, 486541],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     21,    291,   1000, 342145],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     21,    947,   1000, 190204],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     33,    553,   1000, 169798],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     34,    971,   1000, 283799],
       [    21,      4,      0,      0,      0,     -1,     10,      0,
             0,     36,    352,   1000, 227590]], dtype=int32), 2001)
next_row_set=(array([[    24,      4,      0,      0,      0,     -1,     10,      0,
             0,      2,    831,   1000, 701964],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     13,    117,   1000, 171887],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     23,    284,   1000, 796791],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     24,    137,   1000, 340654],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     36,    390,   1000,  72242],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     36,    682,   1000, 585338],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     45,    830,   1000, 569625],
       [    24,      4,      0,      0,      0,     -1,     10,      0,
             0,     49,    647,   1000,  64958]], dtype=int32), 2034)
next_row_set=(array([[    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     17,    259,   1000, 862841],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     17,    417,   1000, 144583],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     17,    963,   1000, 364834],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     22,     45,   1000, 733514],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     34,    407,   1000, 402276],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     34,    606,   1000, 848325],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     36,    672,   1000, 471956],
       [    27,      4,      0,      0,      0,     -1,     10,      0,
             0,     43,    369,   1000, 816754]], dtype=int32), 2067)
next_row_set=(array([[    31,      4,      0,      0,      0,     -1,     10,      0,
             0,      2,    383,   1000, 898502],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,      4,    915,   1000, 720338],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,     21,    171,   1000, 900299],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,     21,    492,   1000, 389081],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,     24,    932,   1000, 962524],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,     45,    809,   1000, 316256],
       [    31,      4,      0,      0,      0,     -1,     10,      0,
             0,     49,    499,   1000, 573533]], dtype=int32), 2111)
next_row_set=(array([[    21,      5,      0,      0,      0,     -1,     10,      0,
             0,      4,     20,   1000, 929216],
       [    21,      5,      0,      0,      0,     -1,     10,      0,
             0,     37,    263,   1000, 776069],
       [    21,      5,      0,      0,      0,     -1,     10,      0,
             0,     50,     45,   1000, 941398],
       [    21,      5,      0,      0,      0,     -1,     10,      0,
             0,     60,    720,   1000, 537881],
       [    21,      5,      0,      0,      0,     -1,     10,      0,
             0,     62,    595,   1000, 815203]], dtype=int32), 2441)
next_row_set=(array([[    26,      5,      0,      0,      0,     -1,     10,      0,
             0,      4,    323,   1000, 602600],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,      4,    858,   1000, 126640],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     10,    211,   1000, 970071],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     15,    255,   1000, 286686],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     16,    160,   1000, 751928],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     20,    557,   1000, 565829],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     20,    629,   1000, 444334],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     30,    483,   1000, 799985],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     35,    478,   1000, 677599],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     39,    774,   1000,  71847],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     41,     93,   1000, 674731],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     41,    128,   1000, 214249],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     43,    156,   1000, 869982],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     45,    366,   1000, 836814],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     52,    386,   1000, 742638],
       [    26,      5,      0,      0,      0,     -1,     10,      0,
             0,     62,    887,   1000, 209046]], dtype=int32), 2496)
next_row_set=(array([[    28,      5,      0,      0,      0,     -1,     10,      0,
             0,      6,    983,   1000, 806169],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     18,    362,   1000, 479013],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     22,    293,   1000, 696038],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     23,    493,   1000, 607864],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     27,    639,   1000, 889441],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     31,     13,   1000, 620114],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     31,    187,   1000, 757317],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     38,    936,   1000, 888048],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     42,    757,   1000, 190071],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     46,    999,   1000, 641410],
       [    28,      5,      0,      0,      0,     -1,     10,      0,
             0,     50,    858,   1000, 855856],
       [    28,      5,      0,      0,      0,     -1,     10,      0,

TypeError: Only chunked datasets can be resized

In [ ]:
syn_set